@mixin respond-above( $media ) {
	
	@if $media == lg {
		@media( min-width: $screen-lg-min ) {
			@content;
		}
	}
	@else if $media == md {
		@media( min-width: $screen-md-min ) {
			@content;
		}
	}
	@else if $media == sm {
		@media( min-width: $screen-sm-min ) {
			@content;
		}
	}	
}

@mixin respond-below( $media ) {
	
	@if $media == lg {
		@media( max-width: $screen-lg-min - 1 ) {
			@content;
		}
	}
	@else if $media == md {
		@media( max-width: $screen-md-min - 1 ) {
			@content;
		}
	}
	@else if $media == sm {
		@media( max-width: $screen-sm-min - 1 ) {
			@content;
		}
	}	
}

@mixin respond-in-between( $media ) {
	
	@if $media == lg_md {
		@media( max-width: $screen-lg-min ) and (min-width: $screen-md-min) {
			@content;
		}
	}
	@else if $media == lg_sm {
		@media( max-width: $screen-lg-min) and (min-width: $screen-sm-min) {
			@content;
		}
	}
	@else if $media == lg_xs {
		@media( max-width: $screen-lg-min) and (min-width: $screen-xs-min) {
			@content;
		}
	}
	@else if $media == md_sm {
		@media( max-width: $screen-md-min) and (min-width: $screen-sm-min) {
			@content;
		}
	}
	@else if $media == md_xs {
		@media( max-width: $screen-md-min) and (min-width: $screen-xs-min) {
			@content;
		}
	}
	@else if $media == sm_xs {
		@media( max-width: $screen-sm-min) and (min-width: $screen-xs-min) {
			@content;
		}
	}
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
		background-clip: padding-box;
}
